/*Estilos Index*/
.cajaMain{
    padding: 15px;
    }
    .titulosIndex{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 2rem;
        margin: 10px;
        text-align: center;
        color: $gris;
    }
        .new{
            background-color: #CAFFBF;
            margin: 10px;
    }

        .cajaNovedades{
            text-align: center;
    }
            .cajaNovedades section{
                display: flex;
                justify-content: center;
        }
        .cajaNovedades img {
            height: 180px;
            margin: 10px;
        }
        .masVendidos{
            text-align: center;
    }
            .masVendidos div{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
    }
            .masVendidos__img {
                width: 180px;
                height: 180px;
                margin: 10px;
    }
        .cajaLinks{
            width:70px;
            height: 30px;
            display: flex;
            margin-left: 80px;
    }
                .linksIndex{
                    font-size: 1rem;
    }
                    .linkMasVendidos{
                        margin-left:  100px;
}
        .listaIndex {
            width: 100%;
            color:$gris;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 0.6rem;
            background-color: $colorBody;
            display: flex;
            gap: 8px;
            padding: 5px;
            margin: 5px;
            justify-content: center;
    }
            .listaIndex__img{
                height: 10px;
                width: 10px;
                margin-right: 5px;
                margin-left: 10px;
    }
        .cajaPersonaliz{
            text-align: center;
    }
            .cajaPersonaliz section{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
    }
                .cajaPersonaliz p{
                    background-color: #D8E2DC;
                    width: 180px;
                    height: 180px;
                    margin-right: 5px;
                    margin-left: 5px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bold;
                    font-size: 1.5rem;
                    text-align: center;
                    padding: 20px;
                    color:$gris;
                    padding-top: 25px;
    }
                .cajaPersonaliz img{
                    width: 180px;
                    height: 180px;
                    margin: 10px;
    }
    @media only screen and (min-width:768px) {
        h2{
            font-size: 1.5rem;
            margin: 10px;
            }
        .cajaNovedades img {
            width: 200px;
            height: 200px;
            margin: 10px;
        }
        .cajaMasVendidos img {
            width: 180px;
            height: 180px;
            margin: 10px;
        }
        .cajaLinks{
            width:70px;
            height: 30px;
            display: flex;
            margin-left:550px;
        }
        .linksIndex{
            font-size: 1rem;
        }
        .cajaPersonaliz img{
            width: 200px;
            height: 150px;
        }
        .cajaPersonaliz p{
            width: 200px;
            height: 150px;
            margin: 10px;
            font-size: 1.5rem;
            padding: 20px;
            padding-top: 20px;
        }
    }
    @media only screen  and (min-width:1024px){
        .cajaMain{
            padding: 15px;
            }
            .titulosIndex{
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                font-size: 2rem;
                margin: 10px;
                text-align: center;
                color: $gris;
            }
                .new{
                    background-color: #CAFFBF;
                    margin: 10px;
            }
                    .imgNov {
                        height: 300px;  
                        margin: 10px;
            }
                .masVendidos{
                    text-align: center;
            }
                    .masVendidos div{
                        display: flex;
                        justify-content: center;
            }
                    .masVendidos__img {
                        width: 250px;
                        height: 250px;
                        margin: 10px;
            }
                .cajaLinks{
                    width:70px;
                    height: 30px;
                    margin-left: 900px;
            }
                        .linksIndex{
                            font-size: 1.5rem;
            }
                        .linksIndex:hover{
                            transform: scale(1.5,1.5);
                            color:#6b705c;
            }
                            .linkMasVendidos{
                                margin-left:  100px;
        }
                .listaIndex {
                    font-size: 2rem;
                    padding: 8px;
                    justify-content: center;
            }
                    .listaIndex__img{
                        height: 25px;
                        width: 25px;
                        margin-right: 10px;
                        margin-left: 40px;
                        margin-bottom: 10px;
            }
                .cajaPersonaliz{
                    text-align: center;
            }
                        .cajaPersonaliz p{
                            width: 250px;
                            height: 250px;
                            margin: 10px;
                            font-size: 2rem;
                            padding: 20px;
                            padding-top: 45px;
            }
                        .cajaPersonaliz img{
                            width: 250px;
                            height: 250px;
                            margin: 10px;
            }
    }
    
    /*@media only screen and (max-width:320px){
        .cajaNovedades img {
            height: 180px;
            margin: 10px;
        }
        .masVendidos div{/*aplicar in con personalizados */
            /*flex-wrap: wrap;
}
        .masVendidos__img {
            width: 180px;
            height: 180px;
            margin: 10px;
        }
        .listaIndex {
            font-weight: 500;
            font-size: 0.5rem;
            gap: 8px;
            margin: 5px;
            padding: 5px;
            justify-content: center;
        }
        .listaIndex img{
            height: 10px;
            width: 10px;
            margin-right: 5px;
            margin-left: 20px;
        }
        .cajaLinks{
            width:70px;
            height: 30px;
            display: flex;
            margin-left: 80px;
        }
        .linksIndex{
            font-size: 1rem;
        }
        .cajaPersonaliz{
            text-align: center;
            margin-left: 35px;
        }
        .cajaPersonaliz section{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        .cajaPersonaliz img{
            width: 180px;
            height: 180px;
        }
        .cajaPersonaliz p{
            width: 180px;
            height: 180px;
            margin: 10px;
            font-size: 1.5rem;
            padding: 20px;
            padding-top: 20px;
            margin-right: 5px;
            margin-left: 10px;
        }
    }*/
    