/*------------------------------Estilos SOBRE NOSOTROS--------*/
.historia__titulo{
    color: #457b9d;
}
.historia__caja{
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    height: 500px;
    width: 100%;
    margin: 10px;
    z-index: 5;
}
    .historia__parrafo {
        padding: 30px 30px;
        text-align: center;
        align-content: center;
        font-size: 1rem;
        font-weight: bold;
        color: #457b9d;
}

    .historia::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url(../images/flowers1.jpg) center center;
        opacity: 0.3;
        height: 400px;
        margin: 10px;
}
.historia__caja img{
    height: 100px;
    margin-bottom: 20px;
}
.wrapper{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
}
.content{
    flex-grow: 1;
}

@media only screen and (min-width:768px){
    .historia__parrafo {
        padding: 20px 150px;
        font-size: 1.5rem;
    }
    .historia::after{
        height: 480px;
    }
    .wrapper{
        min-height: 100vh;
}
}
@media only screen and (min-width:1024px){
    .historia__caja{
        height: 300px;
        width: 100%;
        margin: 0%;
    }
        .historia__parrafo {
            padding: 80px 300px;
            font-size: 1.7rem;
    }
        .historia::after {
            height: 630px;
    }    
    .historia__img{
        height: 400px;
        width:80%;
        margin-left: 10%;
    }
    .wrapper{
        min-height: 100vh;
}
}