/*Estilos Tiensa y Sale*/
.tienda__caja{
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    font-size: 1.5rem;
}
        .tienda__img {
            width: 180px;
            height: 180px;
            transition: all 1s;
            margin: 5px;
}
        .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
}
.btn-primary{
    background-color:#a1b5d8;
    border-color:#F8EDEB;
    color:#ffff;
    font-weight:bold;
    border-radius: 4px;
}
@media only screen and (min-width:768px) {
    .tienda__caja{
        padding: 20px;
        margin: 30px;
        gap: 10PX;
    }
    
        .tienda__caja img {
            width: 200px;
            height: 200px;
            margin: 10px;
    } 
}

@media only screen and (min-width:1024px){
    .tienda__caja{
        padding: 20px;
        margin: 30px;
        gap: 15PX;
        font-size: 1.5rem;
    }
            .tienda__caja img {
                width: 270px;
                height: 270px;
    }
            .tienda__img:hover{
                transform: scale(2,2);
    }
    .btn-primary{
        padding: 8px;
        font-size: 1.1rem;
    }
    .btn-primary:hover{
        background-color:#5e60ce ;
    }
}