.pagNo{
    background-color:$colorBody;
}
    .pagNo div{
        width: 1000px;
        margin: 30px;
}
    .pagNo h1{
        font-size: 4rem;
        text-align: center;
        color: $gris;
}
        .pagNo p{
            text-align: center;
    }
        .pagNo img{
            text-align: center;
        }
        .mensaje{
            font-size: 3rem;
}
